sphinx==8.2.3
sphinx-autodoc-typehints==3.1.0
furo==2024.8.6
myst-parser==4.0.1
sphinx-new-tab-link==0.8.0
sphinx-multiversion==0.2.4
numpy==2.3.3
pandas==2.3.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2